* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #323232;
    border: none;
}

input,
label {
    display: block;
    outline: none;
    width: 100%;
}

a {
    color: #65DAF9;
}

body {
    padding-top: 10vh;
}

.container h3 {
    text-align: center;
    padding: 10px;
}

#iconUser {
    width: 250px;
    margin-left: 150px;
    margin-top: 80px;
}

.navbar .main-btn {
    display: none;
}


/* form */

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.full-box {
    flex: 1 1 100%;
    position: relative;
}

.half-box {
    flex: 1 1 45%;
    position: relative;
}

.spacing {
    margin-right: 2.5%;
}

label {
    font-weight: bold;
    font-size: .8rem;
}

input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
}

input:focus {
    border-color: #65DAF9;
}

input[type="submit"] {
    background-color: #65DAF9;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    width: 200px;
    height: 40px;
    padding: 2px 15px;
    margin-left: 30%;
    border-radius: 30px;
    margin-top: 10px;
    border: 3px solid transparent;
    transition: .5s;
    cursor: pointer;
    cursor: pointer;
}

input:hover[type="submit"] {
    text-decoration: none;
    color: #3EC1D5;
    background-color: transparent;
    border-color: #3EC1D5;
}

.template {
    display: none;
}

.card {
    padding: 30px;
    border: transparent;
}

@media(max-width: 768px) {
    /* geral */
    /* diminuir espaco das divs*/
    .card {
        padding: 0px;
        width: auto;
    }
    .card h3 {
        font-size: 18px;
    }
    #iconUser {
        width: 200px;
        margin-left: 70px;
        margin-top: 80px;
    }
}

@media(max-width: 425px) {
    input[type="submit"] {
        width: 120px;
    }
    #iconUser {
        display: none;
    }
}